{% extends 'base.jinja2' %}

{% block title %}{{_('Новая статья')}}{% endblock %}

{% block content %}
    <div class="container" style="padding-bottom: 30px">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                 {{ form.media }}
                 {{ form.as_p }}
                 {{ imagearticle_form.as_p }}
            </table>
            <input class="btn btn-primary text-black" type="submit" value="{{_('сохранить статью')}}">
        </form>
    </div>
{% endblock content %}