{% extends 'base.jinja2' %}
{% load static %}

{% block content %}

Заголовок
Изображение
Категория. При клике переходит на страницу “Блог” с предвыбранным параметром для фильтрации
Контент
Автор статьи. При клике переходит на страницу “Блог” с предвыбранным параметром для фильтрации
Даты изменения статьи
Секция “Рекомендуемые статьи”
Отображаются превью “Статья”
Кнопка “Добавить в избранное”. При клике выполняется сценарий описанные в разделе
{% endblock content %}
