{% extends 'base.jinja2' %}
{% load score %}

{% block title %}{% endblock title %}

{% block content %}
    <div class="container-fluid">
        <div class="row mx-auto">
            <div class="col-lg-9">
                <h4 class="text-center">{{ article.title }}</h4>
                <br>
                <div class="text-center">
                    {% for image in article.imagearticle_set.all %}
                        <img class="col col-lg-3 img-thumbnail" src="{{ image.image_article.url }}" alt="{{ image.img_alt }}">
                    {% endfor %}
                </div>
                <p>Категория: <a href="{% url 'home' %}?filter_category={{ article.category.pk }}">{{ article.category.name }}</a></p>
                <p>рейтинг: {{ article.average_rating }} (количество оценок: {{ article.number_of_likes }})</p>
            <!-- добавление в избранное -->
                {% if user.is_authenticated and request.user.is_active  %}
                    {% in_favorite article as favorite %}
                    <div class="container" style="padding-bottom: 30px">
                        <form action="{% if favorite %}{% url 'favorite_delete' article.slug %}{% else %}{% url 'favorite_add' article.slug %}{% endif %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn">
                                {% if not favorite %}
                                    <span class="material-icons text-danger">
                                        favorite_border
                                    </span>
                                {% else %}
                                    <span class="material-icons text-danger">
                                        favorite
                                    </span>
                                {% endif %}
                            </button>
                        </form>
                    </div>
                {% endif %}
                <br>
                {{ article.content|safe }}
                <br>
                <p>Автор статьи: <a href="{% url 'home' %}?filter_author={{ article.author.pk }}">{% if article.user.first_name %}{{ article.author.get_full_name }}{% else %}{{ article.author.email }}{% endif %}</a></p>
                <p>Дата последнего изменения статьи: {{ article.updated }}</p>
                {% if user.is_authenticated and request.user.is_active %}
            <!-- добавление оценки -->
                    {% in_scores article as author_score %}
                    <div class="container" style="padding-bottom: 30px">
                        <form action="{% if author_score %}{% url 'update_score' article.slug %}{% else %}{% url 'add_score' article.slug %}{% endif %}" method="post">
                            {% csrf_token %}
                            <table>
                                {{ score.as_p }}
                            </table>
                            <input class="btn btn-primary text-black" type="submit" value="оценить">
                        </form>
                    </div>
            <!-- добавление подписки -->
                    <div class="row">
                        {% in_subscription article.author as subscription %}
                        <div class="container" style="padding-bottom: 30px">
                            <form action="{% if subscription %}{% url 'subscription_delete' article.author.pk %}{% else %}{% url 'subscription_add' article.author.pk %}{% endif %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-primary">
                                    {% if not subscription %}
                                        <div class="text-center">
                                            подписаться на автора
                                            <span class="material-icons text-muted">
                                                mark_email_read
                                            </span>
                                        </div>
                                    {% else %}
                                        отписаться от автора
                                        <span class="material-icons text-danger">
                                            mark_email_read
                                        </span>
                                    {% endif %}
                                </button>
                            </form>
                        </div>
                    </div>
                {% else %}
                    <p>Чтобы иметь возможность оценивать и комментировать статью, вы должны авторизоваться и аккаунт должен быть подтвержден</p>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      авторизоваться
                    </button>
                    <br>
                    <br>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Авторизация</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <form method="post" action="{% url 'login' %}">
                                {% csrf_token %}
                                <table>
                                    <tr>
                                        <td>{{ login.as_p }}</td>
                                    </tr>
                                </table>
                                <div class="modal-footer">
                                    <input type="submit" class="btn btn-primary" value="войти" />
                                    <input type="hidden" name="next" value="{% url 'article_detail' article.slug %}" />
                                    {# Assumes you setup the password_reset view in your URLconf #}
                                    <p><a href="{% url 'password_reset' %}">забыли пароль?</a></p>
                                </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                {% endif %}
            </div>
        <!-- рекомендованные статьи -->
            <div class="col-sm-5 col-lg-2 ms-lg-auto">
                Рекомендуемые статьи:
                <br>
                {% for recommended in article.recommended.all %}
                    <div class="p-3 border">
                        <h4><a href="{% url 'article_detail' recommended.slug %}">{{ recommended.title }}</a></h4>
                        <img src="{{ recommended.article_preview.url }}" alt="{{ recommended.img_alt }}" width="100%">
                        <div>{{ recommended.short_description }}</div>
                        <div><a href="{% url 'home' %}?filter_author={{ recommended.author.pk }}">{% if recommended.author.first_name %}{{ recommended.author.get_full_name }}{% else %}{{ recommended.author.email }}{% endif %}</a></div>
                        <div>последнее обновление статьи: {{ recommended.updated }}</div>
                        <div>рейтинг: {{ recommended.average_rating }}</div>
                        <a href="{% url 'article_detail' recommended.slug %}">
                            <button type="button" class="btn btn-primary text-black">
                                Подробнее
                            </button>
                        </a>
                    </div>
                        <br>
                {% endfor %}
            </div>
        <!-- добавление комментария -->
        {% if user.is_authenticated %}
            <h3>Комментарии: </h3>
            <div class="container" style="padding-bottom: 30px">
                <form action="{% url 'comment_add' article.slug %}" method="post">
                    {% csrf_token %}
                    <table>
                        <tr>Оставьте свой отзыв:<br>{{ new_comment.message }}</tr>
                         {{ new_comment.media }}
                    </table>
                    <input class="btn btn-primary text-black" type="submit" value="комментировать">
                </form>
            </div>
        {% endif %}
        <!-- комментарии статьи -->
            <div class="row">
{#                  {% for comment in article.commentarticle_set.all %}#}
                  {% for comment in object_list %}
                    <div class="media border p-3" style="margin-bottom: 15px">
                        <div class="media-body">
                            <p><i class="text-muted"><small>автор: {% if comment.author.first_name %}{{ comment.author.get_full_name }}{% else %}{{ comment.author.email }}{% endif %} дата комментария {{ comment.created }}{% if comment.score %} оценка: {{ comment.score.score }}{% endif %}</small></i></p>
                            <p>{{ comment.message|safe}}</p>
                            {% if comment.author == request.user %}
                                <div class="row">
                                    <a href="{% url 'comment_change' article.slug comment.pk %}">
                                        <button class="btn btn-primary text-black" type="button">
                                            изменить комментарий
                                        </button>
                                    </a>
                                    <form action="{% url 'comment_delete' article.slug comment.pk %}" method="post">
                                        {% csrf_token %}
                                        <input style="float: right" class="btn btn-danger text-black" type="submit" value="удалить комментарий">
                                    </form>
                                </div>

                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
