{% extends 'base.jinja2' %}
{% load static %}

{% block title %}{{ _('Блог') }}{% endblock title %}

{% block content %}
<!-- боковое меню -->
<div class="row">
    <div style="float: left;" class="d-flex flex-column flex-shrink-0 p-3 text-black col col-lg-2">
        <ul class="nav nav-pills flex-column mb-auto">
          <li>
            <form method="get">
               <div>{{_('категория')}}:
                <div>
                    {% for item, info in category %}
                        {% if info.open %}
                            <ul><li>
                        {% else %}
                            </li><li>
                        {% endif %}
                        <input type="radio" name="filter_category" step="any" id="id_filter_category" value="{{ item.id }}">
                        <label for="id_filter_category">{{ item }}</label>
                        {% for close in info.close %}
                            </li></ul>
                        {% endfor %}
                    {% endfor %}
                </div>
                <input class="btn btn-primary" type="submit" value="{{_('фильтровать')}}"/>
               </div>
            </form>
          </li>
        </ul>
    </div>

    <div class="container col col-lg-9 ms-lg-right">
        <form method="get">
           <div style="float: left">{{_('сортировка')}}: {{ filterset.form.ordering }} {{_('поиск')}}: {{ filterset.form.search }}
               {{_('автор')}}: {{ filterset.form.filter_author }}</div>
           <input class="btn btn-primary" type="submit" value="{{_('фильтровать')}}"/>
        </form>
        <br>
        <br>
        {% for object in object_list %}
            <div class="container p-3 border">
                <h4><a href="{% url 'article_detail' object.slug %}">{{ object.title }}</a></h4>
                <img src="{{ object.article_preview.url }}" alt="{{ object.img_alt }}" width="200px">
                <div>{{ object.short_description }}</div>
                <div>{{ _('автор') }}: <a href="{% url 'home' %}?filter_author={{ object.author.pk }}">{% if object.author.first_name %}{{ object.author.get_full_name }}{% else %}{{ object.author.email }}{% endif %}</a></div>
                <div>{{_('последнее обновление статьи')}}: {{ object.updated }}</div>
                <div>{{_('рейтинг')}}: {{ object.average_rating }}</div>
                <a href="{% url 'article_detail' object.slug %}">
                    <button type="button" class="btn btn-primary text-black">
                        {{_('Подробнее')}}
                    </button>
                </a>
            </div>
            <br>
            <br>
        {% endfor %}
    </div>
</div>
{% endblock content %}