{% extends 'base.jinja2' %}
{% load static %}

{% block content %}
<div class="container">
    <form method="get">
       <div style="float: left">ordering: {{ filterset.form.o }}<input type="submit" value="sort"/></div>
    </form>
    <br>
    <br>
    {% for object in object_list %}
        <h4><a href="#">{{ object.title }}</a></h4>
        <img src="{{ object.article_preview.url }}" alt="{{ object.img_alt }}" width="200px">
        <div>{{ object.short_description }}</div>
        <div><a href="#">{{ object.author }}</a></div>
        <div>последнее обновление статьи: {{ object.updated }}</div>
{#        Средний рейтинг#}
        <a href="#">
            <button type="button" class="btn btn-primary text-black">
                Подробнее
            </button>
        </a>
    {% endfor %}
</div>
{% endblock content %}