{% extends 'base.jinja2' %}

{% block title %}{{ _('Текстовые страницы') }}{% endblock title %}

{% block content %}
    <!-- хлебные крошки -->
    <p class="container">
        <a href="{% url 'home' %}">{{_('Главная')}}</a>/
        <a>{{_('текстовая страница')}}</a>
    </p>

    {% for object in object_list %}
        <div class="container p-3 border">
            <p><a href="{% url 'text_page_detail' object.slug %}">{{ object.title }}</a></p>
            <p>{{ object.content|safe }}</p>
        </div>
    {% endfor %}

{% endblock content %}