<div class="container-fluid bg-black" style="margin-top: 50px">
  <footer class="py-3">
    <div class="row">
      <div class="col-2">
        <h5>Section</h5>
      </div>
      <div class="col-9">
          <a href="#" class="text-muted">Home</a>
          <a href="#" class="text-muted">Features</a>
          <a href="#" class="text-muted">Pricing</a>
          <a href="#" class="text-muted">FAQs</a>
          <a href="#" class="text-muted">About</a>
      </div>
    </div>

    <div class="border-top"></div>
    <br>
    <p class="text-center">© 2022 Sergey Glushak, Inc. All rights reserved.</p>
  </footer>
</div>