{% extends 'base.jinja2' %}

{% block title %}{{_('Личный кабинет')}}{% endblock title %}

{% block content %}
    <div class="row">
        <div class="container col col-lg-9 col-md-8 col-sm-12 offset-1 p-3 border">
        <!-- информация пользователя -->
            <img src="{% if request.user.photo %}{{ request.user.photo.url }}{% else %}{{ static ('media/user_photo/default_user_photo.png') }}{% endif %}" alt="{{ request.user.img_alt }}" class="mr-3 mt-3" style="width:20%;">
            <div style="margin-top: 10px">
                <form action="{{ url('user-change') }}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p>{{ user_profile_form.photo }}</p>
                    <p>{{ user_profile_form.first_name.label }}<br>{{ user_profile_form.first_name }}</p>
                    <p>{{ user_profile_form.last_name.label }}<br>{{ user_profile_form.last_name }}</p>
                    <p>{{ user_profile_form.phone_number.label }}<br>{{ user_profile_form.phone_number }}<br>{{ user_profile_form.phone_number.help_text|safe }}</p>
                    <p><input class="btn btn-secondary text-black" type="submit" value="{{_('сохранить информацию')}}"></p>
                </form>
                <form action="{{ url('password-change') }}" method="post">
                    {% csrf_token %}
                    <table>
                        {% for row in password_change_form %}
                            <tr>
                               <td>{{ row.label }}:</td>
                               {% if password_change_form.old_password == row %}
                                   <td><label><input id="password-input" type="password" name="old_password" autocomplete="current-password"></label></td>
                                   <td><label><input type="checkbox" class="password-checkbox"> {{ _('показать пароль')}}</label></td>
                               {% elif password_change_form.new_password1 == row %}
                                   <td><input id="register-password1-input" type="password" name="new_password1" autocomplete="new-password"></td>
                                   <td><label><input type="checkbox" class="register-password1-checkbox"> {{ _('показать пароль')}}</label></td>
                               {% elif password_change_form.new_password2 == row %}
                                   <td><input id="register-password2-input" type="password" name="new_password2" autocomplete="new-password"></td>
                                   <td><label><input type="checkbox" class="register-password2-checkbox"> {{ _('показать пароль')}}</label></td>
                               {% endif %}
                               <td>{{ row.errors }}</td>
                            </tr>
                            {{ row.help_text|safe }}
                       {% endfor %}
                    </table>
                    <input class="btn btn-primary" type="submit" value="{{ _('Submit') }}" />
                </form>
            </div>
            <br>
            <p>email: {{ request.user.email }}</p>
            <br>
        <!-- кнопка перехода для создания статьи -->
            <a href="{{ url('article_create') }}">
                <button class="btn btn-primary text-black" type="button">
                    {{_('новая статья')}}
                </button>
            </a>
            <br>
            <br>
        <!-- статьи пользователя -->
            <div class="container p-3 border">
                <h6>{{_('Мои статьи')}}</h6>
                <hr>
                {% for article in object_list %}
                    <div class="row">
                        <div class="media border p-3" style="margin-bottom: 15px">
                            <div class="media-body">
                                <p>
                                    <a href="{{ url('article_detail', article.slug) }}">
                                        {{ article.title }}
                                    </a>
                                </p>
                                <p>{{ article.short_description }}</p>
                                <p class="text-muted">{{_('рейтинг')}} {{ article.average_rating }}</p>
                                <div class="row">
                                    <a href="{{ url('article_update', article.slug) }}">
                                        <button class="btn btn-primary text-black" type="button">
                                            {{_('изменить статью')}}
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    <!-- избранные статьи -->
        <div class="container col col-lg-2 col-md-3 col-sm-12">
            <div class="container p-3 border">
                <h6>{{_('Избранные статьи')}}</h6>
                <hr>
                {% for favorite in request.user.favoritesarticle_set.all() %}
                    <a  href="{{ url('article_detail', favorite.article.slug) }}">{{ favorite.article.title }}</a>
                {% endfor %}
            </div>
        </div>
    </div>

<script src="https://bootstraptema.ru/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="{{ static ('script/script.js') }}"></script>

{% endblock %}